@model SitefinityWebApp.Mvc.Models.DocLink.DocLinkModel

<div class="card text-white bg-danger overflow-hidden doc-link">
    <div class="card-body">
        <div class="toll-free-box text-center">
            <h4> <i class="mdi mdi-file-document-outline"></i> <a href="@Model.Link" target="_blank">@Model.Text</a></h4>
        </div>
    </div>
</div>