<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.2.7500.0" authCookieName=".SFAUTH-C:\Github\RandomSiteControlsMVC\Demo" rolesCookieName=".SFROLES-C:\Github\RandomSiteControlsMVC\Demo" validationKey="958FEEB706C873A788664AA4E51A8F8644986EFAC88CC90420BA33BF100E08D52762A270C71FCD5B4B203D610488F2056B6E8185C7B96B0BE35AE0390847184D" decryptionKey="44D9EE2E3A5BE62878930E529E097E6AFC03D3750F761F08552D1C6B64045A77" loggingCookieName=".SFLOG-C:\Github\RandomSiteControlsMVC\Demo">
	<securityTokenIssuers>
		<add key="193AEA125125512A9A0C53A746DE71C41199A53B291A35867285EDE05A063983" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="193AEA125125512A9A0C53A746DE71C41199A53B291A35867285EDE05A063983" realm="http://localhost" />
	</relyingParties>
</securityConfig>