@model System.Web.UI.Control

@using Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Mvc;

<div class="clearfix">
    <div id="content-html-container" style="border: 1px solid #eee;">

    </div>
</div>