@model System.Web.UI.Control

@using Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Mvc;

@Html.CodeMirrorScriptReferences()

<div ng-cloak class="clearfix sf-code">
    <div class="ng-cloak">
        <textarea sf-code-area
                  sf-type="htmlmixed"
                  sf-tab-mode="classic"
                  sf-line-numbers="true"
                  sf-match-brackets="true"
                  sf-model="properties.HtmlContent.PropertyValue"
                  placeholder="Enter Content..."></textarea>
    </div>
</div>

<style>
    .sf-backend-wrp .sf-code{
        margin-top: 0 !important;
        margin-bottom: -20px !important;
    }

    .sf-backend-wrp .modal-body{
        border-bottom: 1px solid #e5e5e5;
    }
</style>