@using Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Mvc;
@using RandomSiteControlsMVC.Helpers;

@Html.MarkdownScriptReferences()


<div class="form-group">
    <textarea ng-model="properties.Markdown.PropertyValue"
                class="form-control editor"
                placeholder="Enter Markdown..."></textarea>
</div>

<div class="form-group">
    <div id="preview">
        @*<div ng-bind-html="myHTML"></div>*@
    </div>
</div>

<div class="form-group">
    <div class="text-muted text-right">
        <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown Cheatsheet</a>
    </div>
</div>


<style>
    .editor{
        min-height: 400px;
    }

    #preview{
        overflow-y: auto;
        padding: 10px;
        height: 250px;
    }
</style>