@using Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Mvc;
@using RandomSiteControlsMVC.Helpers;

@Html.MarkdownScriptReferences()


<div class="ng-cloak">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <textarea ng-model="properties.Markdown.PropertyValue"
                          class="form-control editor"
                          placeholder="Enter Markdown..."></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div id="preview">
                    <div ng-bind-html="myHTML"></div>
                    @*<div markdown-to-html="myHTML"></div>*@
                </div>
            </div>
        </div>
    </div>

    <div class="Options">
        <div class="Options-toggler">
            <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown Cheatsheet</a>
        </div>
    </div>
</div>

<style>
    .editor {
        min-height: 600px;
    }

    #preview {
        min-height: 600px;
        overflow-y: auto;
        padding: 10px;
        height: 100%;
    }
</style>