@model SitefinityWebApp.Mvc.Models.Extensions.ExtensionsModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers

@{ 
    
}

<div id="extensionDocs">
    <div>
        @foreach (var group in Model.Classes)
        {
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-4" style="text-transform:none">@group.Key</h4>

                    <table class="table" style="width: 100%;">
                        <thead>
                            <tr>
                                <th style="width: 40%">Method</th>
                                <th style="width: 40%">Summary</th>
                                <th style="width: 20%">
                                    Returns
                                </th>
                            </tr>
                        </thead>
                        @foreach (var m in group.OrderBy(x => x.MethodName))
                        {
                            <tr>
                                <td style="word-break: break-all">
                                    @m.MethodName
                                </td>
                                <td style="word-break: break-all">
                                    @Html.Raw(m.Summary)
                                </td>
                                <td style="word-break: break-all">
                                    @m.ReturnType
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        }
    </div>
</div>