@model RandomSiteControlsMVC.MVC.Models.Twitter.TwitterModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using RandomSiteControlsMVC.Helpers;
@using Telerik.Sitefinity;

@Html.Script(Url.EmbeddedResource("RandomSiteControlsMVC.Reference", "RandomSiteControlsMVC.MVC.Views.Twitter.Resources.twitter.es5.min.js"), RSCUtil.SfsConfig.DefaultScriptPlaceholder)

<div id="twitter-feed" class="sfTweetsList">
    <div class="sfTweetItem">
        <h6>Latest Tweet</h6>
        <div class="sfTweetWrp">

        </div>
    </div>
</div>