@using Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Mvc;
@using RandomSiteControlsMVC.Helpers;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.KendoWeb, RSCUtil.SfsConfig.KendoScriptPlaceholder)

<uib-tabset class="nav-tabs-wrapper">
    <uib-tab heading="Tabs">
        <div class="row ng-cloak padding">
            <div class="col-md-5">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="tab in tabstrip.tabs" ng-click="onSelectTab(tab, $index)" ng-class="{active: tab.Editing}">
                        <span ng-class="{defaulttab: tab.Selected}">{{tab.Title}}</span>
                    </li>
                </ul>
                <div class="form-group">
                    <button type="button" class="btn btn-default" ng-click="onAddTab()" style="width: 100%">New Tab</button>
                </div>
            </div>
            <div class="col-md-7">
                <div class="form-group">
                    <label class="control-label" for="title-input-input">Title</label>
                    <input type="text" class="form-control" id="title-input" placeholder="Title" ng-model="tabstrip.selectedTab.Title">
                </div>
                <div class="form-group">
                    <label class="control-label" for="urlvalue-input">Url Value</label>
                    <input type="text" class="form-control" id="urlvalue-input" placeholder="Url Value" ng-model="tabstrip.selectedTab.QuerystringValue">
                    <div class="text-muted"><strong>(Optional)</strong> Pairs with the Url key on the options tab to select this tab dynamically</div>
                </div>
                <div class="checkbox">
                    <label for="selected">
                        <input id="selected" type="checkbox" ng-model="tabstrip.selectedTab.Selected" ng-change="onChangeSelected()" />
                        Default Tab
                    </label>
                </div>
                <div class="form-group" ng-hide="tabstrip.tabs.length <= 1">
                    <div class="btn-group">
                        <button type="button" ng-click="onDeleteTab()" class="btn btn-danger">Delete</button>
                    </div>
                </div>

            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Options">
        <div class="padding">
            <div ng-show="properties.CurrentTheme.PropertyValue == 'Kendo'">
                @* CUSTOM KENDO PROPERTIES *@
                <div class="form-group">
                    <label for="sel1">Tab Postion</label>
                    <select class="form-control" ng-model="properties.TabPosition.PropertyValue">
                        <option>top</option>
                        <option>bottom</option>
                        <option>left</option>
                        <option>right</option>
                    </select>
                    <div class="text-muted">Selections not "top" will not be visible in design mode</div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="title-input-input">Css Class</label>
                <input type="text" class="form-control" id="title-input" placeholder="Enter a key..." ng-model="properties.ClassName.PropertyValue">
                <div class="text-muted"><strong>(Optional)</strong> Wrapper class</div>
            </div>
            <div class="form-group">
                <label class="control-label" for="title-input-input">Url Key</label>
                <input type="text" class="form-control" id="title-input" placeholder="Enter a key..." ng-model="properties.QuerystringKey.PropertyValue">
                <div class="text-muted"><strong>(Optional)</strong> {{ origin }}/page?<strong>food</strong>=bread.  The key is "food", set the value "bread" on the tab</div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>


<style>
    .list-group-item{
        cursor: pointer;
    }

    .padding{
        padding-top: 20px;
    }

    .text-muted{
       font-size: 12px;
       padding-top: 4px;
    }

    .defaulttab{
        font-weight: bold;
    }
</style>