@using Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Mvc;
@using RandomSiteControlsMVC.Helpers;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.KendoWeb, RSCUtil.SfsConfig.KendoScriptPlaceholder)

<tabset>
    <tab heading="Tabs">
        <div class="row ng-cloak padding">
            <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="tab in tabstrip.tabs" ng-click="onSelectTab(tab, $index)" ng-class="{active: tab.Editing}">
                        <span ng-if="tab.Selected" class="badge">Default</span>
                        <strong>{{tab.Title}}</strong>
                    </li>
                </ul>
                <div class="form-group">
                    <button type="button" class="btn btn-default" ng-click="onAddTab()" style="width: 100%">New Tab</button>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label" for="title-input-input">Title</label>
                    <input type="text" class="form-control" id="title-input" placeholder="Title" ng-model="tabstrip.selectedTab.Title">
                </div>
                <div class="form-group">
                    <label class="control-label" for="urlvalue-input">Url Value</label>
                    <input type="text" class="form-control" id="urlvalue-input" placeholder="Url Value" ng-model="tabstrip.selectedTab.QuerystringValue">
                    <div class="text-muted">(Optional) Pairs with the Url key on the options tab to select this tab dynamically</div>
                </div>
                <div class="form-group" ng-hide="tabstrip.tabs.length <= 1">
                    <div class="btn-group">
                        <button type="button" ng-click="onDeleteTab()" class="btn btn-danger">Delete</button>
                    </div>
                </div>
                <div class="checkbox">
                    <label for="selected">
                        <input id="selected" type="checkbox" ng-model="tabstrip.selectedTab.Selected" ng-change="onChangeSelected()" />
                        Default Tab
                    </label>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="Options">
        <div class="padding">
            <div class="form-group">
                <label class="control-label" for="title-input-input">Url key to select tab</label>
                <input type="text" class="form-control" id="title-input" placeholder="Enter a key..." ng-model="properties.QuerystringKey.PropertyValue">
                <div class="text-muted">(Optional) {{ origin }}/page?<strong>food</strong>=bread<br/>The key is "food", set the value "bread" on the tab</div>
            </div>
        </div>
    </tab>
</tabset>


<style>
    .list-group-item{
        cursor: pointer;
    }

    .padding{
        padding-top: 20px;
    }
</style>