@using Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Mvc;
@using RandomSiteControlsMVC.Helpers;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Modules.Pages;


<div class="ng-cloak">
    <div class="form-group">
        <label for="sortOptions">Selected Library</label>
        <sf-list-selector sf-library-selector sf-media-type="documents" sf-selected-item-id="librarySelector.selectedItemId" sf-selected-item="librarySelector.selectedItem" />
    </div>

    <div class="form-group">
        <label for="sortOptions">Template</label>
        <div class="row">
            <div class="col-xs-3">
                <select id="sortOptions" ng-model="properties.TemplateName.PropertyValue" class="form-control">
                    <option value="Simple"> Simple</option>
                    <option value="Treeview"> Treeview</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="navLevelsToInclude">Levels to Expand</label>

        <div class="row">
            <div class="col-xs-3">
                <select id="navLevelsToInclude" ng-model="properties.ExpandLevelDepth.PropertyValue" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="9999">All</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="navLevelsToInclude">Document Display Type</label>

        <div class="row">
            <div class="col-xs-4">
                <select id="navLevelsToInclude" ng-model="properties.TitleDisplay.PropertyValue" class="form-control">
                    <option value="Title">By Title</option>
                    <option value="Filename">By Filename</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check pl-0">
            <input type="checkbox" class="form-check-input" ng-model="properties.RenderParent.PropertyValue" ng-true-value="'True'" ng-false-value="'False'" ng-checked="properties.RenderParent.PropertyValue === 'True'">
            <label class="form-check-label" for="exampleCheck1">Render Parent Folder</label>
        </div>
    </div>
    <div class="form-group" ng-if="properties.TemplateName.PropertyValue != 'Simple'">
        <div class="form-check pl-0">
            <input type="checkbox" class="form-check-input" ng-model="properties.Animated.PropertyValue" ng-true-value="'True'" ng-false-value="'False'" ng-checked="properties.Animated.PropertyValue === 'True'">
            <label class="form-check-label" for="exampleCheck1">Animated</label>
        </div>
    </div>
</div>
