.sfPageEditor.zeContentMode .sfPageContainer .fancyboxOpenLink .zeDockZoneEmpty{
    /*background-image: url('<% = WebResource("RandomSiteControls.FancyBox.Resources.fblayouts.gif") %>');
    background-position: center -160px;
    background-repeat: no-repeat;
        */
}

.sfPageContainer .fancyboxOpenLink .zeDockZoneEmpty{
    /*min-height: 50px !important;*/
} 

.zeContentMode .sfPageContainer .fancyBoxContainer .zeDockZoneEmpty{
    /*background-image: url('<% = WebResource("RandomSiteControls.FancyBox.Resources.fblayouts.gif") %>');
    background-position: center 41px;
    background-repeat: no-repeat;*/
}

.sfPageContainer .fancyBoxContainer .zeDockZoneEmpty{
    min-height: 100px !important;
}

.zeLayoutMode .fancyboxWrapper{ 
    background: #FFE6E6;
}

.sfPageEditor  .fancyboxWrapper{
    border: 1px dotted #E1E1E1;
    padding: 3px;
}

.sfPageEditor  .fancyBoxContainer iframe{
    width: 100%;
}

.zeLayoutMode .sfPageContainer .zeDockZoneEmpty{
    background-position: center center !important;
}

.rdsfsToggleCommand{
    background-image: none !important;
    padding-left: 12px;
}

.zeContentMode .fancyboxWrapper {
    margin-bottom: 10px;
}

.fancyboxOpenLink .RadDock_Sitefinity .rdContent{
    min-height: 20px !important;
}

.fancyBoxContainer{
    display:none;    
}

.sfPageEditor .fancyBoxContainer{
    display: block;
    border: 1px dotted #CCCCCC;
    padding: 0 4px 4px;
    background: #F1F1F1;
}

.sfPageEditor .fancyPopupTitleContainer
{
    visibility:visible !important;
}

.fancyboxWrapper .fancyTitle
{
    background-image: url('<% = WebResource("RandomSiteControls.FancyBox.Resources.close-icon.png") %>');
    background-position: right top;
    background-repeat: no-repeat;
    color: #666666;
    font-weight: bold;
    line-height: 29px;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}

