@using Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Mvc;
@using RandomSiteControlsMVC.Helpers;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.KendoWeb, RSCUtil.SfsConfig.KendoScriptPlaceholder)

<uib-tabset class="nav-tabs-wrapper">
    <uib-tab heading="Tabs">
        <div class="ng-cloak">
            <div class="form-group">
                <label for="sortOptions">Selected Library</label>
                <sf-list-selector sf-library-selector sf-media-type="documents" sf-selected-item-id="selectedLibraryId" sf-selected-item="selectedLibrary" sf-provider="provider" />
            </div>

            <div class="form-group">
                <label for="sortOptions">Template</label>
                <div class="row">
                    <div class="col-xs-3">
                        <select id="sortOptions" ng-model="properties.RenderMode.PropertyValue" class="form-control">
                            <option value="TreeView"> TreeView</option>
                            <option value="PanelBar"> PanelBar</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="navLevelsToInclude">Levels to Expand</label>

                <div class="row">
                    <div class="col-xs-3">
                        <select id="navLevelsToInclude" ng-model="properties.ExpandLevelDepth.PropertyValue" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="-1">All</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab heading="Options">

    </uib-tab>
</uib-tabset>


<style>

</style>